header {
  margin-top: 48px ;
  display: flex;
  flex-direction: column;
  gap: 56px;
  align-items: center;
  justify-content: center;

  img {
    width: 100%;
    max-width: 512px;
  }
  .header-titles {
    width: 100%;
    max-width: 369px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    justify-content: center;


    h1 {
      color: #252525;
      text-align: center;
      font-size: 38px;
      font-weight: 500;
      line-height: 48px;
    }

    .primary-btn {
      width: 100%;
      border-radius: 32px;
      text-align: center;
      font-size: 16px;
      font-family: "Inter", sans-serif;
      font-weight: 500;
      line-height: normal;
      letter-spacing: -0.56px;
      height: 48px;
      padding: 24px 48px;
    }
    p {
      color:  #313234;
      text-align: center;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px;
    }
  }

  .numbers {
    width: 100%;
    max-width: 369px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    .number-container {
      display: flex;
      flex-direction: column;
      gap: 8px;
      align-items: center;
      justify-content: center;

      h2 {
        color: #252525;
        text-align: center;
        font-size: 31px;
        font-style: normal;
        font-weight: 600;
        line-height: 31px;
      }
      p {
        color: var(--gray-dark, #444649);
        text-align: center;
        font-size: 13.33px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
    }


  }

}


@media only screen and (min-width: 630px) {
  header {
    .header-titles {
      max-width: 512px;
      h1 {
        font-size: 48px;
        line-height: 56px;
        text-align: left;
        font-weight: 600;
      }
      .primary-btn {
        font-size: 18px;
        font-family: "Inter", sans-serif;
        font-weight: 400;
        width: 344px;
        height: 56px;
      }
    .number-container {
      max-width: 448px;
    }
    }
  }
}

@media only screen and (min-width: 960px) {

header {
  margin-top: 64px;
  flex-direction: row;
  justify-content: space-between;
  img {
    order: 2;
  }
  .header-titles {
    order: 1;
    max-width: 600px;
    align-items: flex-start;


    p {
      order: 1;
      max-width: 512px;
      text-align: left;
    }
    .primary-btn {
      order: 2;


    }
    .numbers {
      margin-top: 8px;
      order: 3;
    }
  }
}

}

@media only screen and (min-width: 1290px) {
header {
  .header-titles {
    h1 {
      font-size: 56px;
      line-height: 64px;
    }
  }
}
}