header {
  margin-top: 48px ;
  display: flex;
  flex-direction: column;
  gap: 56px;
  align-items: center;
  justify-content: center;

  img {
    width: 100%;
    max-width: 512px;
  }
  .header-titles {
    width: 100%;
    max-width: 369px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    justify-content: center;


    h1 {
      font-size: 37px;
      line-height: 48px;
      font-weight: 600;
      color: #252525;
      text-align: center;
    }

    .primary-btn {
      width: 100%;
      border-radius: 32px;
      text-align: center;
      font-size: 16px;
      font-family: "Inter", sans-serif;
      font-weight: 500;
      line-height: normal;
      letter-spacing: -0.56px;
      height: 56px;
    }
    p {
      color:  #313234;
      text-align: center;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px;
    }
  }

  .numbers {
    width: 100%;
    max-width: 369px;
    margin-top: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .number-container {
      display: flex;
      flex-direction: column;
      gap: 8px;
      align-items: center;
      justify-content: center;

      h2 {
        color: #272727;
        text-align: center;
        font-size: 31px;
        font-style: normal;
        font-weight: 600;
        line-height: 31px;
      }
      p {
        color: var(--gray-dark, #444649);
        text-align: center;
        font-size: 13.33px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
    }


  }

}


main {
  .explore {
    margin-top: 64px;
    padding-top: 32px;
    background: linear-gradient(-45deg,rgb(228,239,255),#F4F5F6,rgba(225,240,255,.67),rgb(229,241,255));



    .explore-content{

      max-width: 95%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      gap: 32px;
      align-items: center;
      justify-content: center;



      .explore-title {
        display: flex;
        flex-direction: column;
        gap: 8px;
        align-items: center;
        justify-content: center;
        h2 {
          font-size: 24px;
          line-height: 32px;
          font-weight: 600;
          text-align: center;

        }

        p {
          color: #313234;
          font-size: 16px;
          line-height: 24px;
          text-align: center;
          font-weight: 500;
        }


      }

      img {
        width: 100%;
      }
    }

  }
}





@media only screen and (min-width: 630px) {
  header {
    .header-titles {
      max-width: 512px;
      h1 {
        font-size: 48px;
        line-height: 56px;
        text-align: left;
        font-weight: 600;
      }
      p {
        font-size: 16px;
      }
      .primary-btn {
        font-size: 18px;
        font-family: "Inter", sans-serif;
        font-weight: 400;
        width: 400px;
        height: 56px;
      }
    .number-container {
      max-width: 448px;
      h2 {
        font-size: 32px;
        line-height: 32px;
        color: #252525;

      }
    }
    }
  }

  main {
    .explore {
      padding-top: 40px;

      .explore-content {
        gap: 40px;

        .explore-title {
          h2 {
            font-size: 40px;
            line-height: 40px;
          }

          p {
              max-width: 616px;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 960px) {

header {
  margin-top: 72px;
  flex-direction: row;
  justify-content: space-between;
  .img-container {
    order: 2;
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  .header-titles {
    order: 1;
    max-width: 600px;
    align-items: flex-start;
    h1 {
      min-width: 480px;
    }

    p {
      order: 1;
      max-width: 512px;
      text-align: left;
    }
    .primary-btn {
      order: 2;
      width: 344px;


    }

    .numbers {
      margin-top: 8px;
      order: 3;
    }
  }
}
main {
  .explore {
    margin-top: 88px;
    padding-top: 48px;

    .explore-content {
      .explore-title {
        gap: 16px;
      }
    }
  }
}
}

@media only screen and (min-width: 1290px) {
header {
  .header-titles {
    h1 {
      width: 552px;
      font-size: 56px;
      line-height: 64px;
    }

  }
}

  main {
    .explore {
      margin-top: 96px;
      padding-top: 64px;
      .explore-content {
        .explore-title {
          gap: 24px;
          h2 {
            font-size: 48px;
            line-height: 48px;
          }
        }

        img {
          max-width: 1440px;
        }
      }
    }
  }
}