$dark: #252525;

$primary: #195bff;
$primary-hover: #1752E6;
$primary-active: #1449CC;

$main-transition: all .1s ease-in-out;


$mobile-max: 95%;
$md: 598px;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  font-family: "Inter", sans-serif;
  outline: none;
  border: none;
  cursor: pointer;


}

.primary-btn {
  color: white;
  background-color: $primary;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: $main-transition;

  &:hover {
    background-color: $primary-hover !important;
  }

  &:active {
    background-color: $primary-active !important;
    transform: scale(0.98);
  }
}

body {
  font-family: "Inter", sans-serif;
  color: $dark;
}

a {
  text-decoration: none;
}

.no-overflow {
  overflow: hidden;
}

.container {
  max-width: $mobile-max;
  margin: 0 auto;
}

.hide {
  display: none;
}

.hide-for-mobile {
  display: none;
}

.navbar {
  margin-top: 16px;

  a {
    color: $dark;
    font-weight: 500;
  }

  .mobile-menu {
    position: relative;
    .nav-top {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .logo {
        display: flex;
        gap: 8px;
        align-items: center;
        justify-content: center;

        h2 {
          font-size: 20px;
          color: #313234;
        }
      }

      .menu-toggle {
        font-size: 16px;
        font-weight: 500;
        line-height: 16px;
        color: #252525;
        background: none;
        border-radius: 32px;
        border: 2px solid #252525;
        padding: 8px 16px;

        div {
          display: flex;
          flex-direction: column;
          gap: 8px;
          align-items: center;
          justify-content: center;
          .line {
            width: 24px;
            height: 3px !important;
            background-color: black;
          }
        }

        &:hover, &:active {
          background: none;

        }
      }
    }

    .menu-cta {

      width: 100%;
      height: 100vh;
      position: absolute;
      background: #ffffff;
      border-top: 32px solid white;

      .links {

        li {
          list-style: none;
          padding: 16px 16px 16px 0;
          border-bottom: 1px solid #DBDBDB;
        }
      }

      .cta {
        margin-top: 8px;
        display: flex;
        gap: 24px;
        flex-direction: column;
        align-items: flex-start;

        .login {

          padding: 16px 16px 16px 0;

          a {
            text-decoration: underline;
          }
        }

        button {
          width: 100%;
          height: 48px;
          padding: 16px 32px;
          border-radius: 32px;
          font-size: 16px;
          background-color: $primary;
        }

      }
    }

  }
}


//TODO Hide for mobile tablet and desktop here should be moved to the main file
@media only screen and (min-width: 630px) {
  .hide-for-mobile {
    display: block;
  }

  .hide-for-md {
    display: none;
  }

  .mobile-menu {
    .cta {
      button {
        max-width: 280px;
      }
    }
  ;
  }
}

@media only screen and (min-width: 960px) {
  .hide-for-mobile {
    display: block;
  }


  .hide-for-tablet {
    display: none;
  }

  .desktop-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      display: flex;
      gap: 8px;
      align-items: center;
      justify-content: center;

      h2 {
        font-size: 20px;
        color: #313234;
      }
    }

    .menu-cta {
      display: flex;
      align-items: center;

      .links {
        display: flex;
        gap: 24px;
        align-items: center;
        justify-content: center;
        border-right: 1px solid #D7DCE1;

        a {
          height: 32px;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        a:last-child {
          margin-right: 24px;
        }
      }

      .cta {
        display: flex;
        align-items: center;
        justify-content: center;

        .login {
          padding: 16px 32px;
        }

        button {
          width: 144px;
          height: 40px;
          border-radius: 32px;
          font-size: 16px;
        }
      }
    }
  }
}

@media only screen and (min-width: 1290px) {
  .container {
    max-width: 1280px;
  }

  .desktop-menu {
    .menu-cta {
      .links {
        gap: 40px;

        a:last-child {
          margin-right: 32px;
        }

        .cta {
          gap: 8px;
        }
      }
    }
  }
}